@use '../variables.scss' as *;

.photoContainer{
    width: 100%;
    height: 100vh;
}

.backgroundPicture{
    width: 100%;
    height: 100%;
    background-image: url('/images/senna.webp');
    position: relative;
    background-position: center;
    background-size: cover;
}

.backgroundOverlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1;
}
