@use '../variables.scss' as *;

.photoContainer{
    width: 100%;
    height: 100vh;
}

.backgroundPicture{
    width: 100%;
    height: 100%;
    background-image: url('/images/senna.webp');
    position: relative;
    background-position: center;
    background-size: cover;
}

.backgroundOverlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1;
}

.mainTitle{
    width: 670px;
    height: 316px;
    font-family: 'League';
    font-weight: 400;
    font-size: clamp(1.5rem, 10vw, 5.5rem);
    top: 50.37vh;
    left: 53.07vw;
    color: #E6B900;
    z-index: 5;
    position: absolute;

    @media (max-width: 1200px) {
        min-width: 600px;
        position: relative;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 550px;
        height: 250px;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }
}

.footer{
    width: 80vw;
    color: #ffffff91;
    font-family: 'Segoe UI';
    font-size: 0.9375rem;
    position: absolute;
    text-align: center;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
