@use '../variables.scss' as *;

.contentContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;
    z-index: 5;
    width: 100%;
    top: 11%;
    left: 50;

    @media (max-width: 1600px) {
        flex-direction: column;
        gap: 2.5rem;    
        justify-content: baseline;
        top: 1%;
        
    }
}

.formContainer{
    position: relative;
    background-color: white;
    border-radius: 1rem;
    width: 100%;
    max-width: 27.125rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: auto;
    justify-content: center;
    text-align: center;
    align-items: center;

    @media (max-width: 1600px) {
        justify-content: center;
        text-align: center;
        align-items: center;

    }
}

.mainTitle{
    position: relative;
    font-family: 'League';
    color: #E6B900;
    margin-top: 23rem;
    font-weight: 400;
    font-size: clamp(1.5rem, 10vw, 5.5rem);

    @media (max-width: 1600px) {
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        min-width: 600px;
        order: -1;
    }
}
