@font-face{
    font-family: 'League';
    src: url('/fonts/League.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Bold-Az.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Semi-Bold-Az.otf') format('opentype');;
    font-weight: 500;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/fonts/Sofia-Pro-Regular-Az.otf') format('opentype');;
    font-weight: 400;
}

